*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 237, 237);
}



.header {
    height: 80px;
    background-color: white;
    line-height: 80px;
}

.img-logo {
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-left: 20px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 40px;
    font-family: sans-serif;
    vertical-align: middle;
}

main {
    margin-top: 35px;
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

nav {
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 10px;
}



#blue-button {
    background-color: rgb(71,173,241);
    color: white;
    border: none;
    padding: 9px 18px;
    border-radius: 5px;
    cursor: pointer;
}

#white-button{
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
    padding: 8px 17px;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    border-top: 1px solid rgb(236, 237, 237);
}


.lista {
    padding-left: 50px;
    padding-top: 35px;
    font-family: sans-serif;
}

ul {
    line-height: 45px;
    list-style-type: none;
    font-size: 20px;
}

li::before {
    padding: 2px 4px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    border: 1px solid;
}

.done::before{
    content: ' \2713';
    color: green;
    border-color: green;
}

.undone::before{
    content: ' \2715';
    color: red;
    border-color: red;

}

span {
    display: inline-block;
    color: white;
    border-radius: 14px;
    font-size: 13px;
    line-height: 5px;
    padding: 13px;
}

.blue-box {
    background-color: rgb(71,173,241);
}

.purple-box {
    background-color:rgb(156,114,228);
}

.turquoise-box {
    background-color: rgb(100,192,169);
}

.orange-box {
    background-color: rgb(242,158,51);
}

.pink-box {
    background-color: rgb(216,99,161);
}

.green-box {
    background-color: rgb(176,201,38);
}

